.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
}
.circle{
    display: block;

    border: 3px white solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;

    background-color: transparent;
}