body {
  margin: 0;

}

a {
  color: white;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

a:hover {
  color: #338DB5;
}

::-webkit-scrollbar {
  width: 0px;
}


 *{
  font-family: sans-serif;
 }